[submodule "3rd-party/jl-misctools"]
	path = 3rd-party/jl-misctools
	url = https://github.com/kagaimiq/jl-misctools
[submodule "3rd-party/jl-uboot-tool"]
	path = 3rd-party/jl-uboot-tool
	url = git@github.com:kagaimiq/jl-uboot-tool.git
