*.bin binary
*.boot binary
*.fwsc binary
analysis/disassembly/app_pi32v2_objdump.txt linguist-generated=true -diff
firmware-images/**/decomp/app_pi32v2_objdump.txt linguist-generated=true -diff
analysis/host-updater/ota_worker_decomp.c linguist-generated=true
